# .ebextensions http-basic-auth

files:
  /etc/httpd/conf.d/auth.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      WSGIScriptAlias / /opt/python/current/app/project/wsgi.py
      WSGIPythonPath /opt/python/current/app

      WSGIProcessGroup %{GLOBAL}
      WSGIApplicationGroup %{GLOBAL}

      <Location "/">
        AuthUserFile /etc/httpd/.htpasswd
        AuthType Basic
        AuthName "Log In"
        Require valid-user
      </Location>

container_commands:
  01copy_htpasswd:
    command: "cp .htpasswd /etc/httpd/.htpasswd"
  02restart_httpd:
    command: "service httpd restart"
